.netclass {
  color: rgb(0, 0, 0);
  font-family: "Inter Tight";
  font-size: 40px;
  display: inline-block;
  vertical-align: top;
  margin: 0px;
}

h3 {
  color: rgb(0, 0, 0);
  font-family: "Inter Tight";
}

p {
  color: rgb(0, 0, 0);
  font-family: "Inter Tight";
}

button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  display: inline;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: "Inter Tight";
  font-size: 18px;
  float: right;
  vertical-align: top;
  transition: color 0.2s;
}

button:hover {
  cursor: pointer;
  color: rgb(255, 0, 0);
}