* {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

body {
  background-color: rgb(240, 240, 240);
}

.nav-bar {
  height: 5vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  padding-left: 10px;
  padding-top: 10px;
  background-color: rgb(255, 255, 255);
}

button {
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  font-family: 'Roboto Flex';
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
}

.logo {
  font-family: "Radio Canada Big";
  font-size: 25px;
  color: black;
  font-weight: 400;
  display: inline-block;
}

.purchase {
  font-family: "IBM Plex Sans";
  font-size: 18px;
  font-weight: 400;
  background-color: white;
  color: black;

}

.container {
  display: flex;
  margin-top: 100px;
  background-color: rgb(240, 240, 240);
}

.subscription {
  border-radius: 24px;
  border-width: 1px;
  font-family: "Radio Canada Big";
  font-weight: 400;
  font-weight: 22px;
  width: 37%;
  text-align: center;
  margin-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(255, 255, 255)
}

h1 {
  font-family: "Radio Canada Big";
  font-size: 24px;
  font-weight: 400;
}

p {
  font-family: "Radio Canada Big";
  font-size: 20px;
  font-weight: 400;
}

ul {
  text-align: left;
  line-height: 38px;
}

li {
  font-family: "Roboto Flex";
  font-size: 18px;
  
}

.big {
  font-family: "Radio Canada Big";
  font-size: 28px;
  color: red;
  font-weight: 500;
}
