* {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

body {
  background-color: rgb(240, 240, 240);
}

.nav-bar {
  height: 5vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  padding-left: 10px;
  padding-top: 10px;
  background-color: rgb(255, 255, 255);
}

.logo {
  font-family: "Radio Canada Big";
  font-size: 25px;
  color: black;
  font-weight: 400;
}

button {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-size: 22px;
  border: none;
  background-color: rgb(255, 0, 0);
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
 
button:hover {
  background-color: rgb(206, 0, 0);
  color: rgb(255, 255, 255)
}

.container {
  display: flex;
  margin-top: 100px;
  background-color: rgb(240, 240, 240);
}

.subscription {
  border: none;
  font-family: "Radio Canada Big";
  font-weight: 400;
  font-weight: 22px;
  width: 40%;
  text-align: center;
  margin-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(255, 255, 255)
}

h1 {
  font-family: "Radio Canada Big";
  font-size: 24px;
  font-weight: 400;
}

p {
  font-family: "Radio Canada Big";
  font-size: 20px;
  font-weight: 400;
}

ul {
  text-align: left;
  line-height: 38px;
}

li {
  font-family: "IBM Plex Sans";
  font-size: 19px;
  
}